- if model.errors.any?
  .card{:style => "width: 34rem;"}
    .card-body
      %h3.card-title
        = pluralize(model.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - model.errors.full_messages.each do |msg|
          %li=msg
